body{
    text-align: center;
}
h1{
    font-size: 40px;
    font-family:fantasy;
    font-weight: 300;
}
.line{
    height: 6px;
    background-color: blueviolet;
    width: 70px;
    margin: 8px auto;
}